/* layout */
.friendAndChatList {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.friendAndChatList > .top {
    height: 45px;

}

.friendAndChatList > .middle {
    height: calc(100% - 105px);
    border-bottom: 1px solid var(--main-color);
}

.friendAndChatList > .bottom {
    height: 60px;
}

/* search bar setting */

.friendAndChatList > .top {
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.friendAndChatList > .top > .left {
    display: flex;
    flex: 9;
    align-items: center;
    gap: 5px;
}

.friendAndChatList > .top > .left > input {
    font-size: 14px;
    height: 32px;
    width: 100%;
    border: none;
    outline: none;
}
.searchBar input::placeholder {
    color: var(--main-color)
}

/* Friend list */
.friendAndChatList > .middle {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.friendAndChatList > .middle:hover {
    overflow-y: scroll;
}

.friendAndChatList > .middle::-webkit-scrollbar-track {
    background-color: transparent;
}

.friendAndChatList > .middle::-webkit-scrollbar {
    width: 6px;
    background-color: var(--main-color)
}

.friendAndChatList > .middle::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color-dark)
}

/* Navigation of chatBox, Friend, addFriend */

.friendAndChatList > .bottom > .items {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}