/* layout */
.currentMessageBoxConversations {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px 20px;
    gap: 15px;
    overflow-y: hidden;
}

/* cursor */
.currentMessageBoxConversations:hover {
    overflow-y: scroll;
}

.currentMessageBoxConversations::-webkit-scrollbar-track {
    background-color: transparent;
}

.currentMessageBoxConversations::-webkit-scrollbar {
    width: 6px;
    background-color: var(--main-color);
}


.currentMessageBoxConversations::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: var(--main-color-dark);
}


/* sender and receiver message styling */

.messageBoxSend {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-left: 30%;
    gap: 5px;
    word-break: break-all;
}

.messageBoxSend > .message {
    border-radius: 10px;
    padding: 10px 15px;
    position: relative;
    background-color: var(--main-color-green);
    white-space: pre-wrap;
}

.messageBoxSend > .time {
    margin-bottom: 4px;
    font-size: 12px;
    color: var(--main-color);
}

.messageBoxSend > .message::before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: -8px;
    height: 20px;
    width: 20px;
    background-color: var(--main-color-green);
    background-attachment: fixed;
    border-bottom-left-radius: 15px;
}

.messageBoxSend > .message::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: -10px;
    width: 10px;
    height: 20px;
    background: var(--main-bg-color);
    border-bottom-left-radius: 10px;
}


.messageBoxReceive {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-right: 30%;
    gap: 5px;
}


.messageBoxReceive > .message {
    position: relative;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: var(--main-color);
    white-space: pre-wrap;
}

.messageBoxReceive > .time {
    margin-bottom: 4px;
    font-size: 12px;
    color: var(--main-color);
    order: 1;
}

.messageBoxReceive > .message::before {
    content: "";
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: -7px;
    height: 20px;
    width: 20px;
    background: var(--main-color);
    border-bottom-right-radius: 20px;
}

.messageBoxReceive > .message::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: -10px;
    width: 10px;
    height: 20px;
    background: var(--main-bg-color);
    border-bottom-right-radius: 10px;
}